<div class="slider heightski">
	<div class="fullwidthbanner-container">
		<div class="fullwidthbanner" id="intro">
			<ul>
				@foreach (var i in Model)
				{
				<!-- First SLIDE -->
				<li data-transition="random" data-slotamount="10" data-masterspeed="300">
					<!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
					<img src="~/images/@i.Slider_img" data-fullwidthcentering="on" alt="slide">
					<!-- THE CAPTIONS IN THIS SLDIE -->
					<div class="caption small_text lft"
						 data-x="center"
						 data-y="230"
						 data-speed="300"
						 data-start="1200"
						 data-easing="easeOutExpo"
						 data-end="7000"
						 data-endspeed="300"
						 data-endeasing="easeInSine">
						@i.Slider_line1
					</div>

					<div class="caption lfl"
						 data-x="center"
						 data-y="280"
						 data-speed="400"
						 data-start="1800"
						 data-easing="easeOutExpo"
						 data-end="7200"
						 data-endspeed="300"
						 data-endeasing="easeInSine">
						<img src="~/upload/revolution/s-border.png" alt="Image 1">
					</div>

					<div class="caption big_white lfb stt"
						 data-x="center"
						 data-y="350"
						 data-speed="500"
						 data-start="1800"
						 data-easing="easeOutExpo"
						 data-end="7100"
						 data-endspeed="300"
						 data-endeasing="easeInSine">
						@i.Slider_line2
					</div>

					<div class="caption lfb stt"
						 data-x="center"
						 data-y="440"
						 data-speed="640"
						 data-start="2100"
						 data-easing="easeOutExpo"
						 data-end="7100"
						 data-endspeed="300"
						 data-endeasing="easeInSine">
						<a href="#" class="slider-button">SHOP NOW </a>
					</div>


				</li>
				}
			</ul>

		</div>
	</div>
</div>

<!-- End SLider -->
